{% extends '::base.html.twig' %}

{# ------------------------------Menu----------------------------------- #}
{% block nav %}
	<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('miweb_homepage') }}">Curso de Symfony2</a>
                    <div class="nav-collapse collapse">
                          <ul class="nav">
                              <li class="active"><a href="{{ path('miweb_homepage') }}"><i class="icon-home icon-white"></i>Home</a></li>
                              <li><a href="{{ path('categoria_listar') }}">Categorías</a></li>
                              <li><a href="{{ path('producto_listar') }}">Productos</a></li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li class="nav-header">Nav header</li>
                                  <li><a href="#">Separated link</a></li>
                                  <li><a href="#">One more separated link</a></li>
                                </ul>
                              </li>
                            </ul>
                            <form class="navbar-form pull-right" action="{{ path('usuario_login_check') }}" method="post">
                              <input class="span2" type="text" placeholder="Email" name="_username">
                              <input class="span2" type="password" placeholder="Password" name="-password">
                              <button type="submit" class="btn">Ingresar</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{# -------------------------------Slider---------------------------------- #}

{% block slider %}
	<div class="container">
               <!-- Main hero unit for a primary marketing message or call to action -->              
                  <div class="hero-unit">         
                      <h1>Hello, world!</h1>
                      <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                      </p>
                      <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
                  </div>
    </div>
{% endblock %}

{# -------------------------------Span---------------------------------- #}

{% block span %}
	<div class="container">  
          <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>

                <div class="span4">
                      <h2>Heading</h2>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>

                <div class="span4">
                      <h2>Heading</h2>
                      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                      <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
{% endblock %}

{# -------------------------------Sidebar---------------------------------- #}

      {% block item %} 
          <li class="nav-header">MENU</li>
          
      {% endblock %}
 

{# -----------------------------------Body--------------------------------- #}

{% block body %}
	<div class="span9">
                    <hr class="featurette-divider">


                        <div class="featurette">
                         <img class="featurette-image pull-right" src="{{ asset('bundles/miweb/images/browser-icon-firefox.png') }}">
                            <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
                            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                        </div>



                        <hr class="featurette-divider">


                        <div class="featurette">
                         <img class="featurette-image pull-right" src="{{ asset('bundles/miweb/images/browser-icon-firefox.png') }}">
                            <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
                            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                        </div>


                        <hr class="featurette-divider">
    </div>
{% endblock %}

{# ------------------------------footer----------------------------------- #}

{% block footer %}
	    <div class="container">
              <footer>
              <hr>
                <p>&copy; Ing. Javier Salazar - 2013</p>
              </footer>
        </div>    
{% endblock %}